.dept-title{
    font-size: 40px!important;
    font-weight: 700 !important;
    color: #033a73;
}
.dept-subtitle{
    font-size: 15px;
}
.dept-subcard-title{
    font-size: 70px!important;
    font-weight: 700 !important;
    font-family: 'Roboto Slab', serif;
}