.inner-container::before{
    content: "";
    background:url('../../../public/assets/home/1.jpg' ) no-repeat center center/cover;
    position: absolute;
    height:100%;
    width:100%;
    z-index: -1;
    opacity: 0.1;
    top: 0px;
    left: 0px;
}
.inner-container{
    /* margin-top: 12%; */
    height: 100vh;

}
.home-card-title{
    font-size: 65px!important;
    font-weight: 700 !important;
}
.home-subcard-title{
    font-size: 50px!important;
    font-weight: 700 !important;
    color: #033a73;
}
.home-card-desc{
    font-size: 18px!important;
}
.newsAndEvents{
    height:fit-content;
}
.reviews{
    height: fit-content;
    margin: 50px 0;
}