.faculty-subcard-title{
    font-size: 70px!important;
    font-weight: 700 !important;
    font-family: 'Roboto Slab', serif;
}
.faculty{
    height: fit-content;
}
.faculty-cardtitle{
    font-size: 30px!important;
    font-weight: 700 !important;
    color: #033a73;
}
.card-key{
    color: #033a73;
}